@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
}

body {
  @apply select-none;
  overflow: overlay;
  font-family: "Poppins", sans-serif;
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.animate-blink {
  display: inline-block;
  animation: blink 1s infinite;
}

@theme {
  --color-background: hsl(254, 84%, 5%);
  --color-foreground: hsl(255, 76%, 10%);
  --color-card: hsl(254 84% 4.9%);
  --color-card-foreground: hsl(210 40% 98%);
  --color-popover: hsl(222.2 84% 4.9%);
  --color-popover-foreground: hsl(210 40% 98%);
  --color-primary: #6639f9;
  --color-primary-foreground: hsl(222.2 47.4% 11.2%);
  --color-secondary: hsl(217.2 32.6% 17.5%);
  --color-secondary-foreground: hsl(210 40% 98%);
  --color-muted: hsl(217.2 32.6% 17.5%);
  --color-muted-foreground: hsl(215 20.2% 65.1%);
  --color-accent: hsl(217.2 32.6% 17.5%);
  --color-accent-foreground: hsl(210 40% 98%);
  --color-destructive: hsl(0 62.8% 30.6%);
  --color-destructive-foreground: hsl(210 40% 98%);
  --color-border: hsl(217.2 32.6% 17.5%);
  --color-input: hsl(217.2 32.6% 17.5%);
  --color-ring: hsl(268, 76%, 48%);
}

html {
  scroll-behavior: smooth;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -9999;
  background: var(--color-background);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (fundo da barra) */
::-webkit-scrollbar-track {
  background: var(--color-background);
}

/* Handle (a parte que se move) */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  filter: brightness(0.9);
}

@media (max-width: 768px) {
  /* Chrome, Safari e Edge */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  html {
    scrollbar-width: none;
  }

  body {
    -ms-overflow-style: none; /* Internet Explorer e Edge Legacy */
  }
}
